@import '../base/variables';
@import '../base/mixins';
@import '../vendors/include-media';

#header {
	@extend %clearfix !optional;
	
	position: relative;
	background: $gray;
	z-index: 9;
	
	.container {
		position: relative;
	}
}

.logo {
	position: absolute;
	top: 0;
	left: 5px;
	width: 70px;
	
	@include media ('>=tablet') {
		width: 108px;
	}
	
	a {
		display: block;
	}
	
	img {
		width: 100%;
	}
}

.header-link {
	float: right;
	max-width: 180px;
	
	@include media ('>=tablet') {
		max-width: 320px;
	}
	
	a {
		@include animate(background);
		
		display: inline-block;
		vertical-align: top;
		background: #a6aaa9;
		color: $white;
		font-size: 12px;
		font-weight: 700;
		padding: 10px 15px;
		
		@include media ('>=tablet') {
			font-size: 14px;
			padding: 13px 18px;
		}
		
		@include media ('>=desktop') {
			font-size: 16px;
			padding: 16px 23px;
		}
		
		&:hover {
			background: $orange;
		}
	}
}