<noscript><div>Javascript must be enabled for the correct page display</div></noscript>
<a class="accessibility" href="#main">Skip to Content</a>
<div id="wrapper">
  <header id="header" role="banner">
    <div class="container">
      <strong class="logo">
        <a href="/" accesskey="1">
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <img src='~images/logo.png' />

            <source srcset="images/logo.png, images/logo-2x.png 2x" media="(max-width: 767px)">
            <source srcset="images/logo.png" media="(max-width: 1024px)">
            <source srcset="images/logo.png, images/logo-2x.png 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="logo.png" alt="Nagless">
          </picture>
        </a>
      </strong>
      <div class="header-link">
        <a href="https://docs.google.com/forms/d/1Cau8W97RqNozEyK1lMvvKtpiKu0zU8yFnT30KOA6KyM" class="text-uppercase">APPLY FOR ALPHA ACCESS</a>
      </div>
    </div>
  </header>
  <main id="main" role="main">
    <div class="visual-section">
      <div class="bg-stretch">
        <span data-srcset="images/img-01.jpg, images/img-01-2x.jpg 2x"></span>
      </div>
      <div class="container">
        <div class="text-block">
          <div class="text-wrap">
            <h1>effortless</h1>
            <h2 class="text-uppercase">TIME TRACKING</h2>
            <h3 class="text-uppercase">FOR A BIGGER BOTTOM LINE</h3>
            <div class="holder">
              <p>Sick of feeling like the office nag when you need to send out invoices for your company?</p>
              <p>With NagLess, you can automagically <br>remind your staff to fill out their timesheets at the perfect time. Less stress. More compliance.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-bar">
      <div class="container">
        <div class="bar-holder">
          <strong class="title">Sign up for Userful & Relevant Time Management Tips</strong>
          <form action="https://meticulous.wufoo.com/forms/mcmp48j0ik78vq/#public" class="email-form" name="form2" id="form2" role="form" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate>
            <label for="email"><span class="hidden">email</span></label>
            <input id="Field3" name="Field3" type="email" placeholder="I want to save time! Here’s my email address.">
            <input type="submit" class="btn text-uppercase" id="saveForm" name="saveForm" value="SIGN UP!">
            <div class="hidden">
              <label for="comment">Do Not Fill This Out</label>
              <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
              <input type="hidden" id="idstamp" name="idstamp" value="OFcbosJ/jvxUlGU26J1GExn4Au53QxV1nzTKNPXxFhk=" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="works-section">
      <div class="container">
        <h1 class="text-uppercase">HOW IT WORKS</h1>
        <ul class="list-item">
          <li>
            <img src="images/computer.svg" width="138" height="150" alt="image description">
            <h2>CONNECT</h2>
            <p>YOUR APPS</p>
          </li>
          <li>
            <img src="images/calendar.svg" width="146" height="150" alt="image description">
            <h2>SCHEDULE</h2>
            <p>YOUR MESSAGES</p>
          </li>
          <li>
            <img src="images/people.svg" width="138" height="150" alt="image description">
            <h2>NOTIFY</h2>
            <p>YOUR TEAM</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="content-section">
      <div class="connect-section">
        <div class="container">
          <div class="section-holder">
            <div class="text-block">
              <h1>Connect to the Apps <br>You Already Use</h1>
              <p>We monitor whether or not your staff has filled out their timesheets in the background while you run your business. Because you have better things to do than nag about timesheets.</p>
              <p>Need custom development? Contact us to learn more about our Enterprise offerings.</p>
            </div>
            <div class="img-block">
              <ul class="logo-list">
                <li>
                  <a href="#">
                    <img src="images/harvest-logo.png" alt="Harvest logo">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="images/slack-logo.png" alt="Slack logo">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="images/email-logo.png" alt="Email logo">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="build-section">
        <div class="bubble-block left">
          <img src="images/bubbles-img-left.png" alt="image description">
        </div>
        <div class="bubble-block right">
          <img src="images/bubbles-img-right.png" alt="image description">
        </div>
        <div class="container">
          <div class="text-block">
            <h1>Build a Series of Smart Messages that Won’t Get Ignored</h1>
            <p>Create a mascot, share team rankings, call people out at the right time in the right way, and send messages that are relevant and actionable. Pick the workflows that work best for you and watch the magic unfold!</p>
          </div>
        </div>
      </div>
      <div class="mobile-section">
        <div class="container">
          <div class="section-holder">
            <div class="img-block">
              <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="images/img-02.png, images/img-02-2x.png 2x" media="(max-width: 767px)">
                <source srcset="images/img-02.png" media="(max-width: 1024px)">
                <source srcset="images/img-02.png, images/img-02-2x.png 2x">
                <!--[if IE 9]></video><![endif]-->
                <img src="img-02.png" alt="image description">
              </picture>
            </div>
            <div class="text-block">
              <h1>Let Your Staff Tell You How to Best Communicate With Them</h1>
              <p>Email, text, chat…what’s the best channel use? Let your staff tell you!</p>
              <p>Team members can prioritize their communication preferences, so when you send out a message, you know it will be seen. Set up messaging once with NagLess and connect with your team everywhere!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blockquote-section">
      <div class="container">
        <div class="img-block">
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="images/img-03.jpg, images/img-03-2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="images/img-03.jpg" media="(max-width: 1024px)">
            <source srcset="images/img-03.jpg, images/img-03-2x.jpg 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="img-03.jpg" alt="image description">
          </picture>
        </div>
        <div class="text-block">
          <blockquote>
            <h2 class="text-uppercase">I CREATED NAGLESS BECAUSE…</h2>
            <p>As the owner of a software consulting firm, my team was busy taking care of our clients. Filling outs time sheets fell to the bottom of to-do lists, until it came time to send out invoices at the end of the month. Eventually, I got frustrated with having to constantly nag about time sheets, and my team got annoyed with my constant and ineffective reminders. So, we worked together to build a product that everyone loves to use. Invoicing became effortless and we got paid faster. Win win!</p>
          </blockquote>
          <strong class="author text-uppercase">— ANDREA GOULET, FOUNDER</strong>
        </div>
      </div>
    </div>
    <div class="features-section">
      <div class="container">
        <div class="features-holder">
          <h1>Annoyed by…</h1>
          <ul class="features-list">
            <li>
              <div class="img-block">
                <img src="images/icon-01.svg" width="74" height="80" alt="image description">
              </div>
              <p>Feeling like a babysitter</p>
            </li>
            <li>
              <div class="img-block">
                <img src="images/icon-02.svg" width="98" height="97" alt="image description">
              </div>
              <p>Getting late or incomplete timesheets</p>
            </li>
            <li>
              <div class="img-block">
                <img src="images/icon-03.svg" width="82" height="96" alt="image description">
              </div>
              <p>Sending out inaccurate reports to clients</p>
            </li>
            <li>
              <div class="img-block">
                <img src="images/icon-04.svg" width="62" height="100" alt="image description">
              </div>
              <p>Wrangling annoyed and frustrated staff</p>
            </li>
          </ul>
        </div>
        <div class="features-holder">
          <h1>Sign up for NagLess and...</h1>
          <ul class="features-list">
            <li>
              <div class="img-block">
                <img src="images/icon-05.svg" width="62" height="61" alt="image description">
              </div>
              <p>Run your business more effectively</p>
            </li>
            <li>
              <div class="img-block">
                <img src="images/icon-06.svg" width="89" height="93" alt="image description">
              </div>
              <p>Get time sheets filled out on time</p>
            </li>
            <li>
              <div class="img-block">
                <img src="images/icon-07.svg" width="78" height="78" alt="image description">
              </div>
              <p>Share reliable data with confidence</p>
            </li>
            <li>
              <div class="img-block">
                <img src="images/icon-08.svg" width="90" height="84" alt="image description">
              </div>
              <p>Enjoy an empowered and motivated team</p>
            </li>
          </ul>
        </div>
        <div class="btn-holder">
          <a href="https://docs.google.com/forms/d/1Cau8W97RqNozEyK1lMvvKtpiKu0zU8yFnT30KOA6KyM" class="btn text-uppercase">APPLY FOR ALPHA ACCESS</a>
        </div>
      </div>
    </div>
    <div class="banner-block">
      <div class="bg-stretch">
        <span data-srcset="images/img-04.jpg, images/img-04-2x.jpg 2x"></span>
      </div>
      <div class="heading-block">
        <div class="container">
          <h1>Life's too short to nag about timesheets.</h1>
          <p>Save time (and your sanity) with our free tips to help motivate your staff!</p>
        </div>
      </div>
      <div class="section-bar">
        <div class="container">
          <div class="bar-holder">
            <strong class="title">Sign up for Userful & Relevant Time Management Tips</strong>
            <form action="https://meticulous.wufoo.com/forms/mcmp48j0ik78vq/#public" class="email-form" name="form2" id="form2" role="form" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate>
              <label for="email"><span class="hidden">email</span></label>
              <input id="Field3" name="Field3" type="email" placeholder="I want to save time! Here’s my email address.">
              <input type="submit" class="btn text-uppercase" id="saveForm" name="saveForm" value="SIGN UP!">
              <div class="hidden">
                <label for="comment">Do Not Fill This Out</label>
                <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                <input type="hidden" id="idstamp" name="idstamp" value="OFcbosJ/jvxUlGU26J1GExn4Au53QxV1nzTKNPXxFhk=" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer id="footer">
    <div class="container">
      <div class="copyright text-uppercase">
        <p>Lovingly crafted in Richmond, VA by <a href="http://www.nagless.com">NagLess</a>, LLC. Copyright 2017. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
</div>
<a class="accessibility" href="#wrapper">Back to top</a>